{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>AirLines | Aircrafts</title>
<meta charset="utf-8">
<link rel="stylesheet" href="{% static 'css/layout.css' %}" type="text/css" media="all">
<link rel="stylesheet" href="{%static 'css/reset.css'%}" type="text/css" media="all">
<link rel="stylesheet" href="{%static 'css/style.css'%}" type="text/css" media="all">
<script type="text/javascript" src="js/jquery-1.4.2.js" ></script>
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/cufon-replace.js"></script>
<script type="text/javascript" src="js/Myriad_Pro_italic_600.font.js"></script>
<script type="text/javascript" src="js/Myriad_Pro_italic_400.font.js"></script>
<script type="text/javascript" src="js/Myriad_Pro_400.font.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="js/ie6_script_other.js"></script>
<script type="text/javascript" src="js/html5.js"></script>
<![endif]-->
</head>
<body id="page2">
<!-- START PAGE SOURCE -->
<div class="body1">
  <div class="main">

    <header>
      <div class="wrapper">
        <a href="/" ><img height=110 src="{% static 'img/123.gif' %}"></a>
        <div class="right">
          <nav>
            <ul id="top_nav">
              {% if request.user.is_authenticated %}
               <li><a href="{% url 'profile' %}">profile</a></li>
               <li><a href="{% url 'logout' %}">logout</a></li>


{% else %}

              <li><a href="{% url 'login' %}">log in</a></li>
              <li><a href="{% url 'signup' %}">sign up</a></li>
             {%endif%}
            </ul>
          </nav>
          <nav>
            <ul id="menu">
              <li ><a href="{% url 'search' %}">Search tickets</a></li>
              <li><a href="{% url 'aboutus' %}">About us</a></li>
              <li><a href="{% url 'vacancies' %}">Join us</a></li>
              <li><a href="{%url 'contacts'%}">Contact us</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    </header>
  </div>
</div>
<div class="main">
  
</div>

 <main>
    {% block content %}
    {% endblock %}
  </main>
  

<script type="text/javascript"> Cufon.now(); </script>
</html>


